/************************** Body Style ********************************************/

body
{
    background-color: #337928;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
}

#slogo
{
    position:absolute;
    left:30px;
    top:20px;
    z-index:-1;
}

#javascript_countdown_time
{
    color:#ff0000;
    font-size:35px;
    font-family:Comic Sans MS;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.topbanner, .main
{
    margin:auto;
    width:70%;
    padding: 10px 10px 10px 10px;
}

.menucontainer
{
    margin-left:auto;
    margin-right:auto;
}

.main
{
    /* for IE */
    filter:alpha(opacity=85);
    /* CSS3 standard */
    opacity:0.85;
    background-color:#73b968;
}

.maincontent, .menucontainer
{
    margin-bottom:10px;
    padding:4px 5px 2px 5px;
    background-color:#93d988;
}

.login
{
    background-color:#73b968;
    padding:4px 5px 2px 5px;
}

.footer
{
    margin:0 0 0 0;
    width:100%;
    background-color:#93d988;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 10px 10px 10px 10px;
    border-color:Olive;
    border-style:solid;
    border-width:thin;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}


/************************** Text Styles ********************************************/

h1, h2, h3, p, f
{
    color:#000000;
    font-family:Tahoma;
}

h1
{
    font-size:x-large
}

h2
{
    font-size:larger;
}

h3
{
    font-size:larger;
}

f
{
    font-size:x-small;
}

p
{
    font-size:medium;
}

c
{
    font-family:Comic Sans MS;
    font-size:400%;
    color:#ff0000;
}

 a:visited, a:active, a:link
 {
     color:#2f803f;
     text-decoration:none;
 }
 
 a:hover
 {
     color:#2faa3f;
     text-decoration:none;
 }

a:visited, a:active, a:link, a:hover
{
    font-family:Tahoma;
}

label
{
    
}

/* Table classes */

table.userManagement
{
    border-style:solid;
    border-width:thin;
    border-collapse:collapse;
}
table.userManagement th
{
    background-color:#AA700F;
    color:White;
}
table.userManagement td
{
    border-style:solid;
    border-width:thin;
    border-collapse:collapse;
}

#fullheight
    {
        height:100%
     }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding: 0 0 2px;
    margin: 0;
    /*text-align: left;*/
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#login
{
    text-align:right;
}

ul#menu li a
{
    padding: 6px 17px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #222222;
}

ul#menu li a:hover
{
    background-color: #ffffff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #949494;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #ffffff;
    color: #000000;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
