/* Body Style */
body
    {
        background-color: #000000;
        margin-bottom:0;
        margin-left:0;
        margin-right:0;
        margin-top:0;
    }
    
#login
{
    position:absolute;
    right:15px;
    top:15px;
}
    
/* Text Styles */

h1, h2, h3, p
{
    color:#ffffff;
    font-family:Tahoma;
}

h1
{
    font-size:x-large
}

h2
{
    font-size:larger;
}

h3
{
    font-size:larger;
}

 a:visited, a:active, a:link
 {
     color:#ffffff;
     text-decoration:none;
 }
 
 a:hover
 {
     color:#c5c5c5;
     text-decoration:none;
 }

a:visited, a:active, a:link, a:hover
{
    font-family:Tahoma;
}

label
{
    color:#ffffff;
}

/* Table classes */

table.userManagement
{
    border-style:solid;
    border-width:thin;
    border-collapse:collapse;
}
table.userManagement th
{
    background-color:#AA700F;
    color:White;
}
table.userManagement td
{
    border-style:solid;
    border-width:thin;
    border-collapse:collapse;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding: 0 0 2px;
    margin: 0;
    text-align: left;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #ffffff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #222222;
}

ul#menu li a:hover
{
    background-color: #ffffff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #949494;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #ffffff;
    color: #000000;
}