<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--!AUTHENTICATION!-->
    <authentication mode="Forms">
      <forms loginUrl="/Login/Login" name=".ASPXFORMSAUTH"></forms>
    </authentication>
    <authorization>
      <allow roles="Administrator" />
      <allow roles="Crew" />
      <allow roles="User" />
    </authorization>
    <!--END!-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="AAUlanDatabaseEntities" connectionString="metadata=res://*/Models.AAUlanData.csdl|res://*/Models.AAUlanData.ssdl|res://*/Models.AAUlanData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AAUlanDatabase.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AAULANHOMEPAGEEntities1" connectionString="metadata=res://*/Models.AAUlanDatabase.csdl|res://*/Models.AAUlanDatabase.ssdl|res://*/Models.AAUlanDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.38.55.147;Initial Catalog=AAULAN;User ID=sa;Password=#99um8mjl;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AAULANEntities" connectionString="metadata=res://*/Models.AAUlanDatabase1.csdl|res://*/Models.AAUlanDatabase1.ssdl|res://*/Models.AAUlanDatabase1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.38.55.147;Initial Catalog=AAULAN;User ID=sa;Password=#99um8mjl;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>